<!DOCTYPE html>
<html>
	<head>
		<title>Api</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="main.css">
	
	</head>
	<body>
 	<div>
 		<div class="jumbotron">
 			<div class="container">
 				<h1>Make a lion!</h1>
 				<p>Learn more ...</p>
 				
 			</div>
 		</div>
 	</div>
 	<div class="container">
 	<form action="" method="POST" role="form" class="col-md-6">
 		<legend>Create a lion</legend>
 	
 		<div class="form-group">
 			<label for="">Name</label>
 			<input type="text" class="form-control" id="" placeholder="Name">
 			<label for="">Age</label>
 			<input type="text" class="form-control" id="" placeholder="Age">
 			<label for="">Pride</label>
 			<input type="text" class="form-control" id="" placeholder="Pride">
 			<label for="">Gender</label>
 			<input type="text" class="form-control" id="" placeholder="Gender">
 		</div>
 	
 		
 	
 		<button type="submit" class="btn btn-primary">Submit</button>
 	</form>
 	</div>








	<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="app.js"></script>
	</body>
</html>
